<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title | default:"demo"}}</title>
  {% for style in page.cdn_styles %}
  <link rel="stylesheet" href="{{ style }}"/>{% endfor %}
  {% for style in page.local_styles %}
  <link rel="stylesheet" href="{{ style }}"/>{% endfor %}
</head>
<body>
{{ content }}
  {% for js_file in page.cdn_script %}
  <script src='{{ js_file }}' type="text/javascript"></script>{% endfor %}
  {% for js_file in page.local_script %}
  <script src='{{ js_file }}' type="text/javascript"></script>{% endfor %}  
</body>
</html>